<div class="container container-bg">
    <h1 class="text">View All Projects</h1>
    <div class="container">


        <input class="custom-input" [(ngModel)]="searchTerm" (input)="filterData()" placeholder="Search"
            (keyup)="onKeyUp()">

        <table matSort (matSortChange)="sortData($event)" class=" table table-stripped" id="example">
            <thead class="list">
                <th mat-sort-header="id">ID</th>
                <th class="align-center">Description</th>
                <th mat-sort-header="start_date">Start date</th>
                <th mat-sort-header="end_date">End date</th>
                <th class="align-center">Name</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects | paginate: { itemsPerPage: 10, currentPage: p } "
                    class="table-dark">
                    <td>{{project.id}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.start_date}}</td>
                    <td>{{project.end_date}}</td>
                    <td>{{project.name}}</td>
                    <td> <button class="btn btn-success buttonspace" (click)="onEdit(project.id)"><fa-icon
                                [icon]="faPen"></fa-icon> Edit</button>


                        <button (click)="deleteproject(project)" class="btn btn-danger"><fa-icon
                                [icon]="fatrash"></fa-icon>
                            Delete</button>
                        <button class="btn btn-primary buttonspace" (click)="onMemm(project.id)"><fa-icon
                                [icon]="faplus"></fa-icon> Add Members</button>
                        <button class="btn btn-info buttonspace" (click)="onMem(project.id)"><fa-icon
                                [icon]="faeye"></fa-icon> View Members</button>

                    </td>
                </tr>
            </tbody>
        </table>


        <div class="lol">
            <pagination-controls (pageChange)="p = $event" class="custom-pagination"></pagination-controls>
        </div>
    </div>

</div>