<div class="container">
    <div class="addsection">
        <div class="text-center">
            <h1>Add Member</h1>
        </div>

        <div style="width:50%;margin:auto" class="form-group row">
            <form [formGroup]="addForm" novalidate class="form-group row">
                <div class="row">
                    <div class="col-md-6 div ">Project id </div>
                    <div class="col-md-6 "><input type="text" class="form-control" name="project_id"
                            formControlName="Project_id" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-6 div">Member ID <span style="color:red;">* </span></div>
                    <div class="col-md-6"><input [class.is-invalid]="id.invalid && id.touched" type="text"
                            class="form-control" name="memberid" formControlName="memberID" placeholder="Member ID"
                            required=""></div>
                </div>
                <div *ngIf="(id.invalid && id.touched) || id.dirty">
                    <small *ngIf="id.errors?.required" class="text-danger error-msg">Member ID is
                        required</small>
                </div>
                <div class=" text-danger error-msg"
                    *ngIf="addForm.get('memberID').hasError('min') || addForm.get('memberID').hasError('pattern')">
                    <small>Contains only numbers and it
                        must be greater than 0 .</small>
                </div>
                <div class="row">
                    <div class="col-md-6 div">MemberEmail <span style="color:red;">* </span></div>
                    <div class="col-md-6"><input [class.is-invalid]="Member_email.invalid && Member_email.touched"
                            class="form-control" type="email" name="memberemail" formControlName="Member_email"
                            placeholder="email@example.com" required=""></div>
                </div>
                <div *ngIf="(Member_email.invalid && Member_email.touched) || Member_email.dirty">
                    <small *ngIf="Member_email.errors?.required" class="text-danger error-msg">Member email is
                        required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="Member_email.errors?.pattern" class="text-danger error-msg">Please provide a valid
                        email
                        address</small>
                </div>
                <div class="row">
                    <div class="col-md-6 div">Role</div>
                    <div class="col-md-6"><input type="text" class="form-control" name="role" formControlName="Role"
                            placeholder="Role" required="">
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6 div">Name</div>
                    <div class="col-md-6"><input type="text" class="form-control" name="name" formControlName="name"
                            placeholder="Name" required="">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-dark" (click)="onSubmit()">ADD MEMBER</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>